* {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    background-color: #608d3a;
}

header.bg-primary {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    background-color: #608d3a;
  }
  
  /* Customize the h1 inside the header */
  header.bg-primary h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    background-color: #608d3a;
  }
  
  /* Customize buttons inside the header */
  header.bg-primary .btn {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    background-color: #608d3a;
  }